{% extends "base.html" %}

{% block content %}

<h2>Ajouter un employé</h2>

<form method="POST">

    <div class="mb-3">
        <label>Nom</label>
        <input type="text" name="nom" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Prénom</label>
        <input type="text" name="prenom" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Poste</label>
        <input type="text" name="poste" class="form-control">
    </div>

    <div class="mb-3">
        <label>Salaire</label>
        <input type="number" name="salaire" class="form-control" required>
    </div>

    <button class="btn btn-success">💾 Enregistrer</button>

</form>

{% endblock %}