{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4">

        <div class="card shadow p-4">
            <h3 class="text-center mb-3">Connexion</h3>

            <form method="POST">
                <input type="text" name="username" class="form-control mb-2" placeholder="Username">
                <input type="password" name="password" class="form-control mb-3" placeholder="Password">

                <button class="btn btn-primary w-100">Se connecter</button>
            </form>

            {% if error %}
                <div class="alert alert-danger mt-3">
                    {{ error }}
                </div>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}